body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    background-image: url("https://source.unsplash.com/1600x900/?nature,water,Architecture,Business & Work");
}

.card {
    background: #000000d0;
    color: white;
    padding: 2rem;
    border-radius: 30px;
    max-width: 420px;
    margin: 1em;
    font-size: bold;
}

button {
    margin: 2em;
    background-color: #7c7c7c2b;
    border-radius: 40%;
    color: white;
}

input {
    height: 4vh;
    border-radius: 20px;
    background-color: #7c7c7c2b;
    color: white;
}

.weather {
    display: none;
}